.stock-form {
    margin: 1.75rem 0;
    display: grid;
    place-items: center;
    gap: 16px;
    font-size: 0.8rem;
}

/* .form-group {
    display: grid;
    gap: 0.5rem;
} */

.form-group > input {
    font-family: inherit;
    color: inherit;
    border: none;
    padding: 8px 4px;
    width: 150px;
}

::placeholder {
    font-size: 0.7rem;
    opacity: 0.6;
    letter-spacing: 1px;
}