.stock-form {
    margin: 1.75rem 0;
    display: grid;
    place-items: center;
    gap: 1.25rem;
    font-size: 0.8rem;
}

.form-group {
    display: grid;
    gap: 0.5rem;
}

.form-group > input {
    font-family: inherit;
    padding: 2px 4px;
    width: 100px;
}