.stock-form {
    margin: 1.75rem 0;
    display: grid;
    place-items: center;
    gap: 12px;
    background-color:  #1a2836;
    color: #fff;
    font-size: 0.6rem;
    padding: 16px;
    border-radius: 8px;
    
    position: absolute;
    right: 16px;
    top: 8px;
    z-index: 1;
}

.form-group {
    display: grid;
    gap: 4px;
}

.form-group > input {
    font-family: inherit;
    color: #131313;
    border: none;
    padding: 10px 8px;
    width: 150px;
    letter-spacing: 1.1px;
    border-radius: 4px;
}

.cost {
    margin-right: auto;
    line-height: 16px;
}

.cost-amt {
    font-size: 0.8rem;
}

::placeholder {
    font-size: 0.7em;
    opacity: 0.6;
}
