.portfolio-container {
    background-color: #fff;
    border-radius: 8px;
    width: 500px;
    max-width: 95dvw;
    margin: 16px auto;
    padding: 2px 10px;
    font-size: 0.8rem;
}

.card {
    margin: 8px auto;
    padding: 8px 0;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
}

.card--left,
.card--right {
    display: flex;
    align-items: baseline;
    gap: 16px;
}

.stock-name {
    font-weight: 700;
}

.ave-price,
.total-shares,
.profit,
.current-price {
    font-size: 0.6rem;
    opacity: 0.4;
}

.delete-btn {
    margin: 0;
    padding: 0 4px;
    opacity: 0.5;
    font-size: 0.7rem;
}
.delete-btn:hover {
    border-color: lightcoral;
}

.update {
    padding-top: 8px;
    font-size: 0.6rem;
    letter-spacing: 1px;
}

.total-group {
    font-size: 0.9rem;
    font-weight: 700;
    padding: 8px 24px 16px 8px;
    display: flex;
    justify-content: space-between;
}