.card {
    margin: 8px auto;
    padding: 10px 16px;
    width: 300px;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    background-color: #fff;
}

.card--left,
.card--right {
    display: flex;
    flex-direction: column;
}

.stock-name {
    font-weight: 700;
}

.ave-price,
.current-price {
    font-size: 0.7rem;
    opacity: 0.4;
}

.card--right {
    align-items: flex-end;
}